---
const platform = "github";
const username = "ugmsn";
import Social from "./Social.astro";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username="theugmsn" />
  <Social platform="github" username="ugmsn" />
  <Social platform="youtube" username="@ugmsn" />
</footer>